.Avatar {
  display: inline-flex;
  padding: 5px;
  border-right: 1px solid #d6d6d6;
}
.Avatar .image {
  display: inline-flex;
  padding: 0 10px;
  max-width: 60px;
}
.Avatar .image img {
  width: 100%;
}
.Avatar .name,
.Avatar .designation {
  display: block;
}
